<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Merge</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <div>
          <label for="file">Choose file to upload</label>
          <input type="file" id="file" name="file" accept=".pdf" multiple>
          <input type="text" name="fileName" placeholder="File Name" required>
        </div>
        <div>
          <button>Merge</button>
        </div>
       </form>
          {% if files %}
          <div class="container">
            <h1>Files</h1>
            <ul>
                {% for file in files %}
                <li><a href="output/{{ file }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </div>            
      {% endif %}
</body>
</html>